body {
  color: rgb(68, 68, 68);
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
  position: static;
}

header a {
  color: rgb(183, 230, 235);
}

header nav a:hover {
  color: rgb(59, 59, 59);
  background-color: rgb(183, 230, 235);
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto 48px;
  width: 1200px;
}

main li {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

main li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

#page-logo a {
  color: rgb(183, 230, 235);
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  border-radius: 5px;
  padding: 6px;
  color: rgb(22, 211, 228);
  text-decoration: none;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
}
