body {
  margin: 0;
  font-family: Quicksand, sans-serif;
}

header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header li {
  margin-left: 20px;
}

header a {
  border-radius: 6px;
  padding: 12px;
  font-size: 20px;
  color: rgb(255, 251, 0);
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

footer {
  padding: 36px 0;
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 50px;
  width: 80px;
  height: 80px;
}

footer img {
  width: 100%;
  height: 100%;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(245, 243, 160);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
