#hero {
  height: 800px;
  background: url("/images/places/ocean.jpg") center;
  background-size: cover;
}

#hero-content {
  position: relative;
  top: 200px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 50px 0;
  width: 900px;
  text-align: center;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content h1 {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}

#hero-content p {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

#hero-content a {
  display: inline-block;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  background-color: rgba(255, 251, 0);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#destinations {
  display: flex;
  justify-content: center;
  margin: auto auto 40px;
  width: 90%;
}

#highlights {
  padding: 24px;
  background: linear-gradient(0, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2 {
  margin: 24px 0;
  font-size: 40px;
  color: rgb(59, 65, 64);
  text-align: center;
  text-transform: uppercase;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: cover;
}

.destination p {
  margin: 20px 0;
  font-size: 24px;
  color: rgb(124, 123, 123);
  text-align: center;
}

.destination strong {
  color: rgb(0, 160, 117);
}
